// TODO: Refactor.

.page-home, .page-post-detail {
  .post-type-quote {
    .post-header,
    .post-tags {
      display: none;
    }

    blockquote {
      @extend .blockquote-center
    }
  }
}

.post-sticky {
  background-color: rgba(255, 255, 255, 0.764);
  box-shadow: 1rem 1rem 1.5rem #a7a7a7;
  border-radius: 26px;
}