// Custom styles.
.content a img.travel_photo{
    transition:transform 1s;
    &:hover { 
        transform:scale(1.2,1.2);
    }
}

.friend-name-star {
    font-size: 2em;
    color: #e8b548;
}

.wechat img {
    display: block;
    max-width: 25%;
    margin: inherit;
}

.author-links .author-name {
    font-size: 2.2em;
    font-style: italic;
    color: #d9534f;
}